
body{
    background-image: url("https://images.unsplash.com/photo-1696552004842-8c72b901e2a8?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3RhcnMlMjBibGFja3xlbnwwfHwwfHx8MA%3D%3D");
}

#nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

#Cim{
    color: white;
}

.carousel-item {
    background-color: blue;
    height: 300px;
}

#Naprendszer{
    width: 90%;
    margin: 50px auto;
    position: relative;
}

#naprendszerSáv{
    width: 100%;
    height: 5px;
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 8rem;
}

.Bolygó{
    position: absolute;
    top: -20px;
    font-size: 24px;
    cursor: pointer;

}

#Nap{
    left: 0%;
}

#Merkúr{
    left: 5%;
}

#Vénusz{
    left: 10%;
}

#Föld{
    left: 15%;
}

#Mars{
    left: 20%;
}

#Jupiter{
    left: 40%;
}

#Szaturnusz{
    left: 60%;
}

#Uránusz{
    left: 75%;
}

#Neptunusz{
    left: 90%;
}

#informaciok {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
}

.card{
    margin-left: 5%;
    text-align: justify;
}

#bolygóKártyák{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#napKártya{
    margin: auto;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
