body{
    background-image: url("Képek/stars.png");
}

#nav{
    position: sticky;
    top: 0;
    overflow: hidden;
}

#h1, #h2{
    color: white;
    background-color: rgba(0, 49, 62, 0.7);
}

.carousel-item {
    background-color: blue;
    height: 300px;
}
